<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Main.Properties.Settings.userLoginDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\userLoginDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Main.Properties.Settings.Database1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Main.Properties.Settings.VehInfo" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VehInfo.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Main.Properties.Settings.QueryTable" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\QueryTable.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Main.Properties.Settings.VehicleParts" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VehicleParts.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Main.Properties.Settings.AdminTable" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AdminTable.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Main.Properties.Settings.admin" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\admin.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>